.dropdown-window {
  position: relative;
}

.dropdown-window .dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
height: 300px;
  width: 350px;
z-index: 22;
border-radius: 9px;
box-shadow: 0px 3px 5px #3333332f;
}

.dropdown-window.open .dropdown-content {
  display: block;
}

.dropdown-window .close-button {
  margin-top: 10px;
}
.dropdown-window {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropdown-window.open {
  opacity: 1;
}
.drop-inside{
    width: 100%;
    flex-direction: column;

 display: flex;
 align-items: center;
 gap: 3rem;
}
.drop-inside h1{
    color: var(--primary-color);
    padding-top: 3rem;
}
.btns{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.btn{
     font-size: 1.2rem;
    color: #fff;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}
.drop-btn-out{
    width: 99%;
}
.drop-btn-in{
    background-color: var(--secondary-color);
}