.dark-mode {
  background-color: var(--dark-color);
  color: #f5f5f5;
}
.dark-mode .add-todo,
.dark-mode .list-item,
.dark-mode .item,
.dark-mode .todo-footer-links,
.dark-mode input 
{
  background-color: var(--shadow-color);
  color: #f5f5f5;
}
.dark-mode .todos-pages {
  background-color: var(--shadow-color);
  color: #f5f5f5;
}
.dark-mode .nav {
  background-color: var(--dark-color);
}
.dark-mode .dropdown-content {
  background-color: var(--dark-color);
}
.dark-mode .drop-btn-in {
  background-color: #fff;
  color: var(--dark-color);
}
 .dark-mode .profile_container h1{
    background-color: var(--shadow-color);
  color: #f5f5f5;
 }
 .dark-mode  .profile-form {   background-color: var(--shadow-color);
  color: #f5f5f5;}
 .dark-mode  .pinput{
    background-color: var(--secondary-color);
 }


 
 /* .dark-mode  {}
 .dark-mode  {}
 .dark-mode  {}
 .dark-mode  {}
 .dark-mode  {}
 .dark-mode  {}
 .dark-mode  {}
 .dark-mode  {}
 .dark-mode  {} */